{% extends "base.html" %}
{% block title %}Monitors{% endblock %}


{% block content %}
<div class="container">
    
    <h1>COSMO Monitoring Page</h1>
    <p>Here you can access all of the infomation and deliverables about the monitors included in the COSMO monitoring suite.</p>

    <div class="row">
      <div class="col-lg-4">
          <h2>Dark Monitor</h2>
          <p><a class="btn btn-default" href="/monitoring/dark_monitor">View details »</a></p>
      </div>

      <div class="col-lg-4">
          <h2>Lampflash Monitor</h2>
          <p><a class="btn btn-default" href="/monitoring/lampflash_monitor">View details »</a></p>
      </div>
    </div>
</div>
{% endblock %}

